/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-image: url('./assets/images/daylight-forest-glossy-443446.jpg');
  background-color: cadetblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
